* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    margin: 10px 11px;
    /* background: #787; */
}

.navlogo {
    height: 20vh;
    width: 29vw;
    /* border: 2px solid black; */
}

.navlogo img {
    height: 70px;
    width: 200px;
    text-align: center;
    padding: 10px 35px;
}

.navtag {
    height: 20vh;
    width: 50vw;
    /* border: 2px solid black; */
    margin-left: 70px;
}

.navtag nav ul {
    list-style: none;
    display: flex;
}

.navtag nav ul li {
    padding: 35px 25px;
    font-size: 25px;
    text-align: center;
}

.navtag nav ul li a {
    text-decoration: none;
    color: black;
}

.navtag nav ul li:hover a{
    background-color: #979997;
    color: #233432;
}




/* start styling home */
.home_containe {
display: flex;
}






